// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$colors: (
  primary: #1abc9c,
  secondary: #2ecc71,
  danger: #16a085,
  light: #f2f6f7,
  dark: #2c3e50,
);
